<div class="jumbotron text-center hoverable p-4">

  <div class="row">

    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="https://cdn-images-1.medium.com/max/1000/1*tSyuv3ZRCfsSD5aXB7v8DQ.png">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>

    <div class="col-md-7 text-md-left ml-3 mt-3">

      <h4 class="h4 mb-4">Lorem ipsum</h4>

      <p class="font-weight-normal">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
      </p>
      <p class="font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a lectus imperdiet, condimentum mauris vel, sodales diam. Morbi commodo quis dui id scelerisque. Duis tristique dictum porta. Nam euismod dui pretium justo malesuada facilisis ac id elit. Mauris elementum lobortis eros. Nam dapibus, ligula a suscipit lobortis, lacus ligula sodales felis, eu venenatis nisi justo rhoncus lacus. Pellentesque id ullamcorper sapien. Fusce suscipit, odio id ornare vehicula, nunc turpis gravida sem, in scelerisque tortor odio vitae nulla. Phasellus magna turpis, iaculis eget nunc et, vulputate tristique justo. Curabitur efficitur pellentesque ex eget malesuada. Proin semper odio sed ex congue viverra.

        Mauris pellentesque volutpat turpis vel placerat. Nullam cursus, nulla et semper gravida, erat sem gravida erat, at semper ligula tellus non orci. Morbi suscipit suscipit dolor, eget lobortis dolor ultrices nec. Aliquam pulvinar nisl porttitor, consequat eros vitae, bibendum massa. Donec efficitur ornare ante vel congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer metus neque, lacinia eu porttitor sit amet, scelerisque varius lacus. Quisque ut sagittis ligula. Phasellus non risus tempus, feugiat augue eget, porta nisi. Pellentesque ac commodo dolor. Sed vitae commodo odio. Fusce nec risus nec felis facilisis varius non ut ante. Aliquam porttitor risus sed laoreet faucibus. Nulla facilisi. Nullam posuere est vel dui ornare mollis.

        Nunc ex quam, lobortis sit amet aliquet non, cursus sed nisi. Maecenas feugiat tincidunt ex, sed auctor nunc tempor ut. Nunc purus nulla, pharetra et dapibus suscipit, congue sit amet neque. Sed id rutrum dui. Morbi ornare ornare libero, nec gravida felis maximus quis. Cras eget pulvinar orci. Sed suscipit varius augue, sed aliquet velit maximus ut.

        Interdum et malesuada fames ac ante ipsum primis in faucibus. In eleifend iaculis convallis. Nullam at nisl a justo sodales scelerisque. Etiam fringilla metus sed dapibus pulvinar. Aliquam eleifend facilisis orci faucibus fringilla. Praesent venenatis tortor ut sagittis pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras blandit magna pharetra dictum scelerisque. Vivamus tempor arcu vitae lobortis viverra. Vivamus pretium purus dui, non mattis lectus ornare vitae. Phasellus ut ornare nulla, sit amet convallis nulla. Donec rutrum ornare sem, at fermentum libero aliquam in. Proin vestibulum pulvinar urna, quis finibus eros convallis aliquam.

        Fusce placerat, felis sit amet eleifend dignissim, lacus nibh rutrum urna, nec tincidunt tellus erat a tortor. Nunc varius dolor quis ex cursus, vitae ullamcorper mi malesuada. Nullam ac mattis nunc. Phasellus hendrerit urna volutpat lorem efficitur auctor. Sed cursus ac nibh quis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin dictum pellentesque tellus sit amet tincidunt. Quisque eget consectetur velit. Vivamus placerat erat vitae nulla pulvinar euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer cursus fermentum dui, id rutrum elit tempus quis. Vestibulum a pretium dolor, vitae iaculis orci. </p>

    </div>

  </div>

</div>
