<div class="table-responsive">
  <h3>Weather in Cherkasy <mdb-badge color="cyan">for a week</mdb-badge></h3>
  <table class="table table-hover">
    <thead>
    <tr class="table-info">
      <th scope="col"><mdb-icon icon="table" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Day</th>
      <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Sunday</th>
      <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Monday</th>
      <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Tuesday</th>
      <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Wednesday</th>
      <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Thursday</th>
      <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Friday</th>
      <th scope="col"><mdb-icon icon="leaf" class="mr-2 blue-text" aria-hidden="true"></mdb-icon>Saturday</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"><mdb-icon icon="diamond" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Temperature</th>
      <td>-12*</td>
      <td>-14*</td>
      <td>-2*</td>
      <td>-3*</td>
      <td>0*</td>
      <td>-5*</td>
      <td>+1*</td>
    </tr>
    <tr>
      <th scope="row"><mdb-icon icon="download" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Rainfall</th>
      <td>24%</td>
      <td>86%</td>
      <td>87%</td>
      <td>20%</td>
      <td>35%</td>
      <td>23%</td>
      <td>12%</td>
    </tr>
    <tr>
      <th scope="row"><mdb-icon icon="image" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Cloudiness</th>
      <td>Rainy</td>
      <td>Cloudy</td>
      <td>Clear</td>
      <td>Cloudy</td>
      <td>Clear</td>
      <td>Clear</td>
      <td>Cloudy</td>
    </tr>
    <tr>
      <th scope="row"><mdb-icon icon="magic" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>Wind</th>
      <td>-> 4.4</td>
      <td>-> 2.2</td>
      <td>-> 1.4</td>
      <td>-> 4.6</td>
      <td>-> 2.6</td>
      <td>-> 3.7</td>
      <td>-> 5.3</td>
    </tr>
    </tbody>
  </table>
</div>
<h3>Weather forecast on other sites <mdb-badge color="indigo">on other sites</mdb-badge></h3>
<div class="list-group">
  <a href="https://meteo.ua/" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-info">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">METEO.UA</h5>
      <p><i class="fa fa-bell fa-3x cyan-text pr-3" aria-hidden="true"></i></p>
      <small>everyday</small>
    </div>
    <p class="mb-1">Professionally about weather in Ukraine and around the world</p>
    <small>Touch the link and go to our cite)</small>
  </a>
  <a href="https://pogodnik.com/" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-success">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">MeteoProgCo</h5>
      <p><i class="fa fa-bell fa-3x cyan-text pr-3" aria-hidden="true"></i></p>
      <small class="text-muted">best Weather</small>
    </div>
    <p class="mb-1">Weather in Ukraine and the world. Weather forecast from Meteoprog</p>
    <small class="text-muted">Touch the link and go to our cite)</small>
  </a>
  <a href="https://www.meteoprog.ua/" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">POGODNIK.COM</h5>
      <p><i class="fa fa-bell fa-3x cyan-text pr-3" aria-hidden="true"></i></p>
      <small class="text-muted">enjoy our service)</small>
    </div>
    <p class="mb-1"> THERE IS NO BAD WEATHER</p>
    <small class="text-muted">Touch the link and go to our cite)</small>
  </a>
</div>
