<h2>Menu</h2>
<ul class="navList">
  <li>
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <i class="material-icons">view_quilt</i>
      <span>Dashboard</span>
    </a>
  </li>
  <li>
    <a routerLink="/list-table" routerLinkActive="active">
      <i class="material-icons">list</i>
      <span>List & Table</span>
    </a>
  </li>
  <li>
    <a routerLink="/images" routerLinkActive="active">
      <i class="material-icons">wallpaper</i>
      <span>Images</span>
    </a>
  </li>
  <li>
    <a routerLink="/post-tiles" routerLinkActive="active">
      <i class="material-icons">font_download</i>
      <span>Post tiles</span>
    </a>
  </li>
</ul>
